*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-decoration: none;
}

:root {
  --black: #1c1a19;
  --wine: #730d15;
  --red: #ff6b00;
  --gray: gray;
  --gray2: #262626;
  --white: #f4f5f0;
  --color-neutral-11: #730d15;
  --color-primary-1: #ff6b00;
  --color-neutral-2: gray;
}

body {
  background-color: #fff;
  width: 100%;
  margin: 0;
}

.logo {
  margin-left: 0;
  margin-top: 0;
}

.menu-hamburg {
  color: #000;
  width: 1fr;
  margin-right: 20px;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

nav {
  margin-top: 19px;
  margin-right: 16px;
}

.menu {
  display: none;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: #fff;
  }

  .logo {
    display: none;
  }

  #id-menu-hamburger {
    display: none;
  }

  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
  }

  .menu-option {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    list-style-type: none;
  }
}

/* ^^^^ End media ^^^^ */

.sec-portada {
  background-color: #fff;
}

.title {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  text-align: left;
  margin-top: 19px;
}

.port-contenido {
  padding-left: 16px;
  padding-right: 16px;
}

@media only screen and (min-width: 768px) {
  .sec-portada {
    background-color: #fff;
    padding-left: 11vw;
    padding-right: 0;
  }

  .title {
    font-size: 110px;
    line-height: 110%;
    margin-top: 16vw;
  }

  #tit-port {
    width: 484px;
    margin-top: 16vw;
  }

  #btn-port {
    width: 17.63vw;
  }
}

/* ^^^^ End media ^^^^ */

.parrafo {
  color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  margin-top: 21px;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .parrafo {
    /* padding-left: 160px; */
    margin-top: 60px;
    width: 484px;
  }
}

/* ^^^^ End media ^^^^ */

.button-secc {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 16px;
  padding-right: 30px;
  height: 50px;
  background: #1a2236;
  border-color: #1a2236;
  border-width: 1px 1px 1px 1px;
  width: 90%;
  cursor: pointer;
}

.button-proj {
  color: #1a2236;
  background: white;
  border-width: 20px 20px 20px 20px;
}

.project-button {
  display: inline-block;
  width: 178px;
  height: 44px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid white;
  background-color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border-radius: 0;
  color: #fff;
}

.project-button:hover {
  color: #fff;
  background: #1a2236;
}

.project-button:active {
  color: #fff;
  background: #1a2236;
  border: 2px solid #fff;
}

.button-proj:hover {
  color: #1a2236;
  background: white;
}

.port-footer {
  width: 100vw;
}

.port-footer img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  #port-without-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .port-contenido {
    width: 51vw;
    padding-left: 0;
  }

  .port-footer {
    width: 49vw;
    padding-left: 6.52vw;
  }

  .img-port {
    content: url("../resources/pc-img-portada-Thur.png");
    object-fit: content;
    max-width: 45vw;
  }
}

/* ^^^^ End media ^^^^ */

.sec-works {
  display: grid;
  justify-content: stretch;
  align-content: center;
  row-gap: 0;
  margin-top: 30px;
  grid-template-columns: auto;
  background-color: #fff;
}

.img-works-pc {
  display: none;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 0;
  width: 100%;

  /* background-color: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(1px); */
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.tit-projects {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 16px;
}

.text-content {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  background: #1a2236;

  /* border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px); */
  padding-left: 20px;
  padding-right: 10px;
}

.project img {
  height: auto;
  width: 100%;
}

.pr-description {
  margin-top: 20px;
  color: #fff;
}

.pr-description p {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 36px;
  text-align: left;
}

.buttons-flex {
  display: flex;
  column-gap: 10px;
  margin-left: 20px;
}

.li-button {
  list-style-type: none;
  background-color: #98dede;
  color: #1a2236;
  font-family: Poppins, sans-serif;
  font-size: 10.333px;
  font-weight: 300;
  line-height: 80%;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 6px 10px;
  border-radius: 0;
  margin-top: 20px;
}

.li-button:hover {
  color: #1a2236;
  background: white;
}

.sec-works-pc {
  display: none;
}

@media only screen and (min-width: 768px) {
  .sec-works {
    display: none;
  }

  .project-button {
    display: inline-block;
    margin-top: 60px;
    margin-left: 0;
    background: #fff;
    color: #1a2236;
    font-size: 18px;
    line-height: 27px;
  }

  .img-works-pc {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .tit-projects {
    display: none;
  }

  .sec-works-pc {
    width: 100vw;
    display: inline-grid;
    grid-gap: 0;
    grid-template-areas:
      "s-1-1 s-1-2  s-1-2"
      "s-1-1 s-2-2  s-3-2"
      "s-1-1 s-2-2  s-3-3";
    margin: 0;
    height: auto;
    justify-items: stretch;
    background-color: #fff;
  }

  .project {
    display: flex;
    align-items: flex-start;
    margin-top: 200px;
    height: 353px;
    margin-left: 0;
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 60px;
    margin-top: 0;
  }

  .pr-description {
    margin-top: 60px;
    margin-left: 0;
  }

  .pr-description p {
    font-weight: 700;
    font-size: 60px;
    line-height: 48px;
    margin-left: 0;
    margin-top: 0;
    text-align: left;
  }

  .s-1-1 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 478px;
    height: auto;
  }

  .s-1-2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    background-image: url("../resources/P1-IMG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 978px;
    height: auto;
  }

  .s-1-2 .project {
    align-items: stretch;
  }

  .s-1-2 .text-content {
    margin-left: 0;
  }

  .s-2-2 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 0;
    width: 492px;
    height: auto;
  }

  .s-3-2 {
    background-image: url("../resources/P5-IMG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: min-content;
    width: 456px;
    height: auto;
  }

  .s-3-2 .project {
    margin-top: 100px;
    margin-bottom: 80px;
  }

  .s-3-2 .pr-description {
    margin-top: 30px;
  }

  .s-3-2 .pr-description p {
    font-weight: 700;
    font-size: 40px;
    line-height: 80%;
    margin-left: 0;
    margin-top: 0;
    text-align: left;
  }

  .s-3-2 .text-content {
    margin-left: 0;
  }

  .s-3-2 .project-button {
    margin-top: 15px;
  }

  .s-3-3 {
    background-color: #fff;
    width: 465px;
    height: auto;
  }

  .fill-cont {
    object-fit: cover;
    width: -webkit-fill-available;
  }

  .buttons-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    row-gap: 20px;
    margin-left: 0;
    margin-top: 34px;
  }

  .li-button {
    font-size: 20px;
    text-align: left;
    padding: 12px 20px;
    border-radius: 0;
    margin-top: 0;
    height: 40px;
  }
}

/* ^^^^ End media ^^^^ */

.abilities-and-about-me-flex {
  padding-left: 16px;
  padding-right: 15px;
}

.about-myself {
  padding-bottom: 60px;
}

.button-secc:hover {
  color: #5e6c84;
  background-color: #e5e5e5;
}

/* List abilities */

#sec-abilities {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 24px;
  margin-left: 0;
  width: 100%;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

#ab-tit {
  margin-top: 17.5vw;
}

.abilities-frame {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.tit-abi {
  font-size: 20;
  font-weight: 800;
  line-height: 30px;
  margin-top: 50px;
  margin-left: 50px;
}

.list-abi {
  margin-bottom: 53px;
  margin-left: 50px;
  margin-top: 21px;
  margin-top: 0;
}

.li-abi {
  font-size: 18;
  font-weight: 600;
  line-height: 27px;
}

#abi-lang {
  background-color: #1c528a;
  background-image: url("../resources/ampersand.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

#abi-fw {
  background-color: #e2505c;
  background-image: url("../resources/bombillo.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

#abi-skills {
  background-color: #febf52;
  background-image: url("../resources/rect-rombo.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  .abilities-and-about-me-flex {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: none;
    align-items: flex-start;
    flex-grow: 2;
    padding-left: 11vw;
    padding-right: 11vw;
    margin-top: 15vw;
    background-color: #fff;
  }

  #sec-abilities {
    width: 22.08vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 0;
    flex-grow: 1;
    flex-basis: 1;
    flex-shrink: 1;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    background-image: url("../resources/pc-bg-abi-group-51.png");
  }

  .abilities-frame {
    margin: 0;
  }

  #about-me {
    width: 37.63vw;
    padding-left: 6.6vw;
  }

  #ab-tit {
    margin-left: 0;
    margin-top: 2vw;
  }

  #ab-descr {
    margin-left: 0;
    margin-top: 2vw;
    width: 99%;
  }

  #ab-btn {
    margin-left: 0;
    margin-top: 3vw;
    max-width: 50%;
  }
}

/* ----- End media ------ */

/* Contact Form */

footer {
  background-color: #f9f9fa;
}

.contact-us {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-left: 18px;
  margin-right: 14px;
  background-color: #f9f9fa;
}

#form-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  justify-content: stretch;
}

#img-left-contact {
  margin: 0;
  width: 0;
}

#contact-tit {
  margin-left: 0;
  margin-top: 106px;
  width: 100%;
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
}

#line1-cf {
  display: flex;
  flex-direction: column;
  align-items: left;
  row-gap: 8px;
  margin: 0;
}

#descr-contact {
  color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-top: 20px;
  margin-left: 0;
  text-align: left;
  margin-right: 0;
  padding: 0;
  max-width: 450px;
}

.form-container {
  margin-top: 32px;
  width: 100%;
}

#name-form,
#email-form,
#message-form {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  height: 52px;
  margin-left: 1vw;
  margin-right: 0.1vw;
  width: 60vw;
}

#message-form {
  height: 100px;
}

.button-secc:active {
  background-color: #e5e5e5;
}

#logo-footer {
  margin-left: -18px;
}

.button-secc:disabled {
  background-color: var(--color-neutral-2);
}

#name-form::placeholder {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  position: relative;
  top: -12px;
  left: 14px;
  color: #7d7c84;
}

#email-form::placeholder {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  position: relative;
  top: -12px;
  left: 14px;
}

#message-form::placeholder {
  position: relative;
  left: 16px;
  top: 4px;
  width: 80%;
  font-style: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #7d7c84;
}

#submit-form {
  margin-top: 12px;
}

.social-media-class {
  width: auto;
  height: 150px;
  background: #1a2236;
  border-top: 1px solid #dfe1e6;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 40px;
}

.get-my-resume {
  width: 100%;
  height: 24px;
  margin-left: 16px;
  margin-right: 10px;
  margin-top: 16px;
}

.get-my-cv {
  display: flex;
  align-items: center;
  width: 180px;
  height: 100%;
  color: #92dcdc;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.img-res {
  margin-left: 15px;
}

label.dis-block {
  visibility: hidden;
  color: transparent;
}

@media only screen and (min-width: 768px) {
  footer {
    max-width: 1440px;
  }

  .contact-us {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: #f9f9fa;
    height: 100%;
    margin-top: 0;
  }

  #img-left-contact {
    width: 25%;
    background-image: url("../resources/pc-corner-sup-contact-geometry_6.png");
    background-repeat: no-repeat;
    background-position: left top;
    height: 800px;
  }

  .form-container {
    margin-top: 0;
  }

  #form-contact {
    width: 50%;
  }

  #img-right-contact {
    width: 25%;
    background-image: url("../resources/pc-corner-inf-contact-image-geometry_7.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 855px;
  }

  #contact-tit {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 100%;
    text-align: center;
    width: 100%;
    margin-top: 11vw;
  }

  #descr-contact {
    margin-top: 2.7vw;
  }

  #line1-cf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 8px;
    margin-right: 0;
    margin-top: 4vw;
    column-gap: 35px;
  }

  .name-group {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 50px;
  }

  .email-group {
    float: left;
    margin: 0;
    width: 254px;
  }

  .message-group {
    margin: 0;
    width: auto;
  }

  #logo-footer {
    margin-left: -18px;
    height: 100%;
    border: 2px solid royalblue;
  }

  #message-group {
    display: block;
    margin: 0 auto;
  }

  label.dis-block {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7d7c84;
  }

  #name-form,
  #email-form,
  #message-form {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1a2236;
    background: #fff;
    border: 1px solid #252c40;
    border-radius: 4px;
    width: 95%;
  }

  #message-form {
    width: 400px;
  }

  #submit-form {
    width: 17.6vw;
    display: block;
    margin: 0 auto;
  }

  .social-media-class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 0;
    flex-grow: 1;
    flex-basis: 1;
    flex-shrink: 1;
    height: 8.3vw;
    background: #1a2236;
    border-top: 1px solid #dfe1e6;
  }

  .social-media-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 40%;
  }
}

/* ----- End media ------ */
