:root {
  --black: #000;
  --wine: #730d15;
  --red: #f00;
  --gray: gray;
  --gray2: #262626;
  --white: #fff;
  --projectPurple: #6070ff;
  --projPurpleLetsConnect: #7f8cff;
  --projBackgroundBody: #e5e5e5;
  --projBackground: var(--white);
  --projText: #344563;
  --projTitleText: #172b4d;
  --projFont-1-Pop: 'Poppins', sans-serif;
  --projColSubtAbout: --black;
  --projPlaceHolderColor: #b3bbb5;

  /* works variables */
  --worksBold: #344563;
  --worksLight: #7a869a;
  --gridBackground: #f7f7f9;
  --liButtonBackground: #ebebff;
  --projectButtonColor: #396df2;
  --languageBoxColor: #f7f7f9;
  --pressedButtonColor: #2230d2;
  --contactText: #f7f7f9;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--projFont-1-Pop);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--projBackgroundBody);
  width: 100%;
  margin: 0;
}

/* Mobile Header Section */

.logo {
  font-family: var(--projFont-1-Pop);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: var(--projectPurple);
  margin-left: 24px;
  min-width: 76px;
}

.logo:hover {
  text-decoration: none !important;
  color: var(--projectPurple);
  transform: scale(1.5);
}

.menu-hamburg {
  color: var(--projectPurple);
  width: 1fr;
  margin-right: 20px;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

nav {
  margin-right: 0;
  display: flex !important;
  isolation: isolate;
}

.menu {
  display: none;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  width: 100%;
}

.parrafo {
  color: var(--projText);
  font-family: var(--projFont-1-Pop);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.01em;
  margin-top: 20px;
  text-align: left;
}

/* Mobile Portada Section - First Page */

.sec-portada {
  background-color: var(--projBackground);
}

.title {
  font-family: var(--projFont-1-Pop);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: var(--projTitleText);
  text-align: left;
  margin-top: 19px;
}

.title:hover {
  transform: rotate(45deg);
}

#port-without-header {
  padding-left: 24px;
  background-color: var(--projBackground);
}

.port-contenido {
  width: 100%;
  height: calc(100vh);
  background-image: url("../images/first-page-img/first-page-bg-mobile.svg");
  background-repeat: no-repeat;
  border-bottom-left-radius: 60px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  max-height: 600px;
}

#tit-port {
  max-width: 60%;
}

#intro-text {
  margin-right: 50px;
  margin-top: 20px;
  min-width: 270px;
}

.connect-text {
  font-family: var(--projFont-1-Pop);
  font-size: 16px;
  font-weight: 550;
  line-height: 24px;
  text-align: left;
  margin-top: 10px;
  color: var(--projPurpleLetsConnect);
}

.social-media-icons > * {
  transform: scale(0.75);
}

.social-media-icons {
  display: flex;
  column-gap: 15px;
  margin-top: 5px;
  align-items: center;
  min-width: 250px;
  position: relative;
  z-index: 3;
}

.social-media-icons img {
  align-self: center;
  height: 27px;
  width: auto;
  transition: 1s;
}

.header-banner .social-media-icons {
  margin-top: 10px;
  margin-bottom: 0;
  margin-bottom: 25%;
}

ul {
  list-style: none;
  padding: 0;
}

/* Mobile Works Section */

#works {
  display: grid;
  justify-content: center;
  align-content: center;
  row-gap: 70px;
  background-color: var(--gridBackground);
  grid-template-columns: auto;
  padding-top: 0;
  padding-bottom: 70px;
  padding-left: 24px;
  padding-right: 24px;
}

.project {
  border: 1px solid white;
  display: flex;
  align-items: center;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  border-radius: 16px;
  transition: 1s ease;
  transition-delay: 0.5s;
  box-shadow: 1px 1px 55px -23px rgba(0, 0, 0, 0.75);
}

.project:hover {
  border: 1px solid var(--projectPurple);
  transform: scale(1.2);
  cursor: pointer;
}

.text-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.project-title {
  font-family: var(--projFont-1-Pop);
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
}

.mobile-card {
  display: block;
}

.project-data {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}

.project-data .bold {
  font-family: var(--projFont-1-Pop);
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: var(--worksBold);
}

.project-data p {
  font-family: var(--projFont-1-Pop);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: var(--worksLight);
  margin-top: 15px;
}

.project img {
  height: auto;
  width: 100%;
  min-width: 250px;
}

.buttons-flex {
  display: flex;
  column-gap: 10px;
  margin-left: 0 !important;
  flex-wrap: wrap;
}

.li-btn {
  background-color: var(--liButtonBackground);
  color: var(--projectPurple);
  font-family: var(--projFont-1-Pop);
  font-size: 12px;
  font-weight: 550;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.project-descr {
  margin-top: 20px;
}

/* BUTTONS */
.project-btn,
.resume-btn,
.contact-btn {
  display: inline-block;
  width: 100px;
  height: 40px;
  margin-top: 40px;
  border-radius: 8px;
  color: var(--projectButtonColor);
  background-color: white;
  border: 0.5px solid var(--projectButtonColor);
  transition: 0.6s;
  font-family: var(--projFont-1-Pop);
  font-size: 17px;
  font-weight: 550;
  line-height: 24px;
}

.resume-btn {
  width: 150px;
  margin-top: 12px;
  margin-left: 0;
  margin-bottom: 50px;
}

.resume-btn:disabled,
.project-btn:disabled,
.contact-btn:disabled {
  background-color: white;
  color: #5e6c84;
}

.resume-btn:hover,
.project-btn:hover,
.contact-btn:hover {
  color: white;
  background-color: var(--projectPurple);
}

.resume-btn:focus,
.project-btn:focus,
.contact-btn:focus {
  background-color: var(--pressedButtonColor);
  color: white;
  font-weight: 700;
}

/* about me section (init) */

#about-sec {
  background-color: white;
  padding-bottom: 60px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 114px;
}

.about-me {
  min-width: 10px;
}

#tit-ab-me {
  max-width: 50%;
}

.subt-about {
  font-family: var(--projFont-1-Pop);
  font-size: 20px;
  font-weight: 550;
  line-height: 24px;
  text-align: left;
  color: var(--projColSubtAbout);
}

.languages-section p {
  font-size: 30px;
}

.arrow {
  width: 15px;
  height: 15px;
}

.languages-section {
  margin: 10% 10% 10px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
}

.frameworks,
.skills {
  border-bottom: 0.2px solid #dfe1e6;
  padding-bottom: 20px;
}

.languages-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 250px;
}

.language-box {
  display: flex;
  background-color: var(--languageBoxColor);
  margin: 10px 12px;
  align-items: center;
  border-radius: 10px;
}

.language-box p {
  font-family: var(--projFont-1-Pop);
  font-size: 15px;
  font-weight: 550;
  line-height: 20px;
  text-align: left;
  margin-left: 10px;
}

/* about me section (end) */

/* form section (init) */

.contact-background {
  background-color: var(--projectPurple);
  background-size: cover;
  border-top-left-radius: 60px;
  padding-top: 20px;
}

#contact {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-image: url("../images/contact-img/contact-form-shapes-mobile.svg");
  padding-top: 100px;
  background-position: right;
  background-repeat: no-repeat;
}

.contact-header,
.contact-desc {
  text-align: center;
  padding: 0 30px;
  color: var(--contactText);
}

.contact-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 20px;
}

.contact-header {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  height: 60px;
  min-width: 250px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  margin-top: 50px;
  width: 100%;
}

.form-container textarea,
.form-container input {
  width: 90%;
  margin: 2% 10%;
  border-radius: 7px;
  border: none;
}

.form-container textarea {
  height: 180px;
}

#name,
#email,
#message {
  padding: 15px 38px 15px 16px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.form-container button {
  align-self: flex-start;
  margin: 2% 5%;
  width: 150px;
}

#name::placeholder,
#email::placeholder,
#message::placeholder {
  color: var(--projPlaceHolderColor);
  padding: 15px 38px 15px 1px;
  font-family: var(--projFont-1-Pop);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.social-media-icons img:hover,
.social-media-icons i:hover {
  transform: scale(2);
}

/* form section (end) */
