:root {
  --black: #000;
  --wine: #730d15;
  --red: #f00;
  --gray: gray;
  --gray2: #262626;
  --white: #fff;
  --projectPurple: #6070ff;
  --projPurpleLetsConnect: #7f8cff;
  --projBackgroundBody: #e5e5e5;
  --projBackground: var(--white);
  --projText: #344563;
  --projTitleText: #172b4d;
  --projFont-1-Pop: 'Poppins', sans-serif;
  --projColSubtAbout: --black;
  --projPlaceHolderColor: #b3bbb5;

  /* works variables */

  --worksBold: #344563;
  --worksLight: #7a869a;
  --gridBackground: #f7f7f9;
  --liButtonBackground: #ebebff;
  --projectButtonColor: #396df2;
  --knowlodgeColor: #f7f7f9;
  --pressedButtonColor: #2230d2;
  --contactText: #f7f7f9;
}

* {
  font-family: var(--projFont-1-Pop);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--projBackgroundBody);
  width: 100%;
  margin: 0;
}

/* Mobile Header Section */

.logo {
  font-family: var(--projFont-1-Pop);
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  text-align: center;
  color: var(--projectPurple);
  margin-left: 24px;
  min-width: 76px;
}

.logo:hover {
  text-decoration: none !important;
  color: var(--projectPurple);
}

.menu-hamburg {
  color: var(--projectPurple);
  width: 1fr;
  margin-right: 20px;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 14px 45px -4px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0 14px 45px -4px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 14px 45px -4px rgba(0, 0, 0, 0.17);
  z-index: 2;
}

nav {
  margin-right: 0;
  display: flex !important;
  isolation: isolate;
}

.menu {
  display: none;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  width: 100%;
}

/* traido de ofm - related to js mobile menu */

.menu-options {
  margin: 0 !important;
  display: none;
}

.fixed {
  position: fixed;
  display: block !important;
  right: 28px;
  top: 10px;
}

.mobile-menu {
  display: none;
  list-style: none;
}

.open {
  display: block;
  padding-left: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0%;
  overflow: hidden;
  background-color: #396df2;
  opacity: 0.9;
  z-index: 5;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.open-menu {
  z-index: 6;
  margin-right: 36px;
}

.close-menu {
  z-index: 7;
}

.close {
  top: 20px;
}

.open li:first-child {
  margin-top: 100px;
}

.open li a {
  display: inline-block;
  font-size: 32px;
  color: white;
  font-weight: 500;
  padding-block: 35px;
}

/* traido de ofm - related to js mobile menu (end) */

/* Mobile Portada Section */

.parrafo {
  color: var(--projText);
  font-family: var(--projFont-1-Pop);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.01em;
  margin-top: 20px;
  text-align: left;
}

.sec-portada {
  background-color: var(--projBackground);
}

.title {
  font-family: var(--projFont-1-Pop);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: var(--projTitleText);
  text-align: left;
  margin-top: 19px;
}

.port-contenido {
  width: 100%;
  height: calc(100vh);
  background-image: url("../images/first-page-img/first-page-bg-mobile.svg");
  background-repeat: no-repeat;
  border-bottom-left-radius: 60px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  max-height: 600px;
}

#tit-port {
  max-width: 60%;
}

#port-without-header {
  padding-left: 24px;
  background-color: var(--projBackground);
}

#intro-text {
  margin-right: 50px;
  margin-top: 20px;
  min-width: 270px;
}

.connect-text {
  font-family: var(--projFont-1-Pop);
  font-size: 16px;
  font-weight: 550;
  line-height: 24px;
  text-align: left;
  margin-top: 10px;
  color: var(--projPurpleLetsConnect);
}

.social-media-icons > * {
  transform: scale(0.75);
}

.social-media-icons {
  display: flex;
  column-gap: 15px;
  margin-top: 5px;
  align-items: center;
  min-width: 250px;
  position: relative;
  z-index: 3;
}

.social-media-icons img {
  align-self: center;
  height: 27px;
  width: auto;
  transition: 1s;
}

.header-banner .social-media-icons {
  margin-top: 10px;
  margin-bottom: 0;
  margin-bottom: 25%;
}

ul {
  list-style: none;
  padding: 0;
}

/* Mobile Works Section */

#works {
  display: grid;
  justify-content: center;
  align-content: center;
  row-gap: 70px;
  background-color: var(--gridBackground);
  grid-template-columns: auto;
  padding-top: 0;
  padding-bottom: 70px;
  padding-left: 24px;
  padding-right: 24px;
}

.project {
  border: 1px solid white;
  display: flex;
  align-items: center;
  background-color: var(--projBackgroundBody);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  border-radius: 16px;
  transition: 1s ease;
  transition-delay: 0.5s;
  box-shadow: 1px 1px 55px -23px rgba(0, 0, 0, 0.75);
}

.text-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.project-title {
  font-family: var(--projFont-1-Pop);
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
}

.mobile-card {
  display: block;
}

.project-data {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}

.project-data .bold {
  font-family: var(--projFont-1-Pop);
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: var(--worksBold);
}

.project-data p {
  font-family: var(--projFont-1-Pop);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: var(--worksLight);
  margin-top: 15px;
}

.project img {
  height: auto;
  width: 100%;
  min-width: 250px;
}

.project:hover {
  border: 1px solid var(--projectPurple);
}

.buttons-flex {
  display: flex;
  column-gap: 10px;
  margin-left: 0 !important;
  flex-wrap: wrap;
}

.li-btn {
  background-color: var(--liButtonBackground);
  color: var(--projectPurple);
  font-family: var(--projFont-1-Pop);
  font-size: 12px;
  font-weight: 550;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.project-descr {
  margin-top: 20px;
}

/* BUTTONS */
.project-btn,
.resume-btn,
.contact-btn {
  display: inline-block;
  width: 110px;
  height: 40px;
  margin-top: 40px;
  border-radius: 8px;
  color: var(--projectButtonColor);
  background-color: var(--projBackground);
  border: 0.5px solid var(--projectButtonColor);
  transition: 0.6s;
  font-family: var(--projFont-1-Pop);
  font-size: 17px;
  font-weight: 550;
  line-height: 24px;
}

.resume-btn {
  width: 150px;
  margin-top: 12px;
  margin-left: 0;
  margin-bottom: 50px;
}

.resume-btn:disabled,
.project-btn:disabled,
.contact-btn:disabled {
  background-color: var(--projBackground);
  color: #5e6c84;
}

.resume-btn:hover,
.project-btn:hover,
.contact-btn:hover {
  color: white;
  background-color: var(--projectPurple);
}

.resume-btn:focus,
.project-btn:focus,
.contact-btn:focus {
  background-color: var(--pressedButtonColor);
  color: white;
  font-weight: 700;
}

/* about me section (init) */

#about-sec {
  background-color: var(--projBackground);
  padding-bottom: 60px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 114px;
}

.about-me {
  min-width: 10px;
}

#tit-ab-me {
  max-width: 50%;
}

.subt-about {
  font-family: var(--projFont-1-Pop);
  font-size: 20px;
  font-weight: 550;
  line-height: 24px;
  text-align: left;
  color: var(--projColSubtAbout);
}

.knowlodges-section p {
  font-size: 30px;
}

.arrow {
  width: 15px;
  height: 15px;
}

.knowlodges-section {
  margin: 10% 10% 10px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
}

.frameworks,
.skills {
  border-bottom: 0.2px solid #dfe1e6;
  padding-bottom: 20px;
}

.knowlodges-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 250px;
}

.knowlodge-box {
  display: flex;
  background-color: var(--knowlodgeColor);
  margin: 10px 12px;
  align-items: center;
  border-radius: 10px;
}

.knowlodge-box p {
  font-family: var(--projFont-1-Pop);
  font-size: 15px;
  font-weight: 550;
  line-height: 20px;
  text-align: left;
  margin-left: 10px;
}

/* about me section (end) */

/* form section (init) */

.contact-background {
  background-color: var(--projectPurple);
  background-size: cover;
  border-top-left-radius: 150px;
  padding-top: 20px;
}

#contact {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-image: url("../images/contact-img/contact-form-shapes-mobile.svg");
  padding-top: 100px;
  background-position: right;
  background-repeat: no-repeat;
}

.contact-header,
.contact-desc {
  text-align: center;
  padding: 0 30px;
  color: var(--contactText);
}

.contact-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 20px;
}

.contact-header {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  height: 60px;
  min-width: 250px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  margin-top: 50px;
  width: 100%;
}

.form-container textarea,
.form-container input {
  width: 90%;
  margin: 2% 10%;
  border-radius: 7px;
  border: none;
}

.form-container textarea {
  height: 180px;
}

#name,
#email,
#message {
  padding: 15px 38px 15px 16px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.form-container button {
  align-self: flex-start;
  margin: 2% 5%;
  width: 150px;
}

#name::placeholder,
#email::placeholder,
#message::placeholder {
  color: var(--projPlaceHolderColor);
  padding: 15px 38px 15px 1px;
  font-family: var(--projFont-1-Pop);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.social-media-icons img:hover,
.social-media-icons i:hover {
  transform: scale(2);
}

/* form section (end) */

.for-mobile {
  display: block;
}

.for-desktop {
  display: none;
}

/* DESKTOP VERSION */

@media screen and (min-width: 768px) {
  /* header section */

  nav {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  #id-menu-hamburger {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 32px;
  }

  .open-menu {
    display: none;
  }

  .menu-option {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    list-style-type: none;
    color: var(--projText);
  }

  /* traido de ofm (start) */
  .header {
    padding-top: 10px;
    position: fixed !important;
  }

  .desktop-menu {
    display: inline;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-right: 30px;
  }

  .menu-options {
    min-width: 266px;
    margin: 0 !important;
    display: block;
  }

  li > a:link,
  li > a:visited,
  li > a:hover {
    color: var(--worksBold) !important;
    text-decoration: none !important;
  }

  .header > * {
    margin: 0 15%;
  }

  .logo {
    font-size: 24px;
    min-width: 100.6px;
    animation-duration: 3s;
  }

  span {
    transition: 1s;
  }

  span:hover {
    font-size: larger;
    color: var(--projectPurple);
  }

  /* ------ traido de ofm  (end) */

  /* portada section */

  #port-without-header {
    /* En vez de usar valores absolutos en px es mejor usar valores
      proporcionales al ancvho del view port en este caso 1440 (vw).
      padding-left: 260px;
      padding-right: 260px;
      padding-bottom: 244px; */

    padding-left: 18.47vw;
    padding-right: 18.47vw;
    padding-bottom: 14.94vw;
    background-color: var(--projBackground);
    background-image: url("../images/first-page-img/first-page-bg-desktop.svg");
    background-repeat: no-repeat;
    border-bottom-left-radius: 60px;
    background-position: center;
    background-size: cover;
  }

  .port-contenido {
    background-image: none;
  }

  #tit-port {
    max-width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    margin-top: 288px;
  }

  #intro-text-1 {
    margin-right: 0;
    margin-top: 20px;
    min-width: 270px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  /* works section */

  #works {
    display: grid;
    justify-content: center;
    align-content: center;
    row-gap: 140px;
    background-color: var(--gridBackground);
    grid-template-columns: auto;
    padding-top: 0;
    padding-bottom: 140px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .project {
    border: 1px solid white;
    display: flex;
    align-items: center;
    background-color: var(--projBackground);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    border-radius: 16px;
    transition: 1s ease;
    transition-delay: 0.5s;
    box-shadow: 1px 1px 55px -23px rgba(0, 0, 0, 0.75);
  }

  .project img {
    height: auto;
    width: 50%;
    margin: 24px;
    min-width: 400px;
  }

  .flex-rev {
    flex-direction: row-reverse;
  }

  .text-content {
    justify-content: flex-start;
    margin-left: 27px;
    margin-top: 0;
    margin-bottom: 100px;
    width: 50%;
  }

  .project-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    margin-top: 48px;
  }

  .project-data {
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
  }

  .project-data .bold {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: var(--worksBold);
  }

  .project-data p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--worksLight);
    margin-top: 15px;
  }

  /* about section */

  #about-sec {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 0;
    border-top-right-radius: 200px;
    padding-bottom: 9.86vw; /* 142px */
    padding-top: 9.86vw; /* 142px */
    padding-left: 9.86vw; /* 142px */
    padding-right: 9.86vw; /* 142px */
    row-gap: 10px;
    column-gap: 37px;
    justify-content: space-between;
  }

  .about-me {
    width: 40%;
  }

  #text-ab-me {
    margin-right: 0;
    margin-left: 0;
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 100%;
  }

  .about-knowlodges {
    width: 60%;
  }

  .knowlodges-section {
    margin-top: 50px;
  }

  .knowlodges-boxes {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 100px;
    flex: 0 0 33%;
    margin-top: 20px;
    margin-left: 0;
  }

  #about .social-media-icons {
    column-gap: 25px;
    margin: 23px 30px;
  }

  .knowlodge-box {
    flex-direction: column;
    flex-basis: 100%;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0;
    max-width: 120px;
    height: 122px;
    margin-right: 2%;
  }

  .knowlodge-box img {
    margin-left: 15px;
  }

  .knolodgege-box > p {
    margin-left: 15px;
  }

  /* contact section */
  #contact {
    background-image: url("../images/contact-img/contact-form-desk@2x.svg");
    padding-top: 142px;
    background-position: right;
    background-repeat: no-repeat;
  }

  .contact-desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-top: 20px;
    padding-right: 30.27vw; /* 436px */
    padding-left: 30.27vw; /* 436px */
  }

  .form-container {
    padding-right: 33.51vw; /* 497px */
    padding-left: 33.51vw; /* 497px */
    margin-top: 15px;
  }

  #name,
  #email,
  #message {
    padding: 15px 38px 15px 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .form-container button {
    align-self: center;
    margin: 2% 0 17% 0;
    width: 150px;
  }

  .for-mobile {
    display: none;
  }

  .for-desktop {
    display: block;
  }
}
